# Data Science Tools and Ecosystem

### Jupyter Notebook is a popular web-based interactive computing environment that allows users to create and share documents containing live code, visualizations, explanatory text, and more.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Julia
4. SQL
5. Scala
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
result = (3*4)+5
result

17

In [1]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives**: List popular languages for Data Science.
- R
- SQL
- Python
- JULIA

# AUTHOR

NAME : HARSH BHABHRA